.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #f2f5fd;
    fill: rgb(153, 186, 215);
}
.navbar nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #5c6bc0;
    font-weight: 600;
}

.grid-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    background: rgb(171, 187, 220);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
}
.contenido{fill: #5c6bc0;}
